@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    /*     background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #140330; */
    font-family: 'Exo', sans-serif;
    font-size: 1.6rem;
    padding: 30px 0;

}

header {
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

/* ------------------------------ Restart button */
.btn-container {
    text-align: center;
}

.restart-btn {
    color: white;
    background-color: transparent;
    border-radius: 12px;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px;
}

.restart-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

/* ------------------------------ Score board */
.score-board {
    margin: 8% 0 4%;
    text-align: center;
    color: white;
    border: 3px solid white;
    width: 250px;
    font-size: 6rem;
    padding: 30px 10px;
    position: relative
}

.badge {
    background: #c112a0;
    font-size: 3rem;
    padding: 10px 10px;
    border-radius: 12px;
}

#user-badge {
    position: absolute;
    left: -28px;
}

#pc-badge {
    position: absolute;
    right: -35px;
}

/* ------------------------------ Player choices */
.choices {
    display: flex;
    justify-content: center;
    margin: 20px 0 25px;
}

.choices .choice {
    cursor: pointer;
    border: 3px solid #531345;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 40%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.1s ease;
}

.choices .choice:nth-child(2) {
    margin: 0 20px;
}

.choices .choice:hover {
    cursor: pointer;
    background: #531345;
}

.choices .choice img {
    width: 100%;
}

h2 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

/* ------------------------------ Model */
.text-win {
    color: #289a28;
    font-size: 4rem;
}

.text-lose {
    color: #ff0000;
    font-size: 4rem;
}

.model-content p {
    font-size: 1.8rem;
}

/* ------------------------------ Media Queries */

@media screen and (max-width: 480px) {
    body {
        padding: 0 22px;
    }

    .title {
        font-size: 3.5rem;
    }

    /* --------------Restart button */
    .restart-btn {
        font-size: 1rem;
        margin-top: 20px;
    }

    /* --------------Player choices */
    .choices .choice:nth-child(2) {
        margin: 0 10px;
    }

    h2 {
        font-size: 2rem;
    }

    /* --------------Score board */
    .score-board {
        font-size: 5rem;
        width: 180px;
    }

    .badge {
        font-size: 2rem;
    }

    /* --------------Score board */
    .text-win {
        font-size: 3rem;
    }

    .text-lose {
        font-size: 3rem;
    }

    .model-content p {
        font-size: 1.5rem;
    }
}

/* ------------------------------------ Background animation */

.context {
    width: 100%;
    position: absolute;
    top: 50vh;

}


.area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;

}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}